<h1>New Article</h1>
<%= form_with scope: :article, url: articles_path, local: true, :html => { :id => "new_article" } do |form| %>

<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>               
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
 <p>
    <%= form.label :number %><br> 
    <%= form.telephone_field :Number, :class => "required number" %>
	</p>
 
 <p>
    <%= form.label :email %><br>
    <%= form.email_field :Email, :class => "required email" %>
	</p>
	
	 <p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
	</p>
	
	<p>
    <%= form.submit %>
  </p>
<% end %> 
<%= link_to 'Back', articles_path %>